.right-container {
    position: relative;
    width: 75%;
    height: 100vh;
    background:
    linear-gradient(
      rgba(93, 12, 168, 0.6), 
      rgba(72, 12, 168, 0.6)
    ),
    url('./assets/images/background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.right-container p {
    color: #fafafa;
}
 
.right-container-header {
    padding: 1rem;
    position: fixed;
    width: 60%;
    top: 0;
    left: 40%;
    background-color: #3C1675;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
}

.chat-container {
    margin-top: 4rem;
    margin-bottom: 7rem;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
}

.chat-container::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.right-continer-header-circel {
    width: 1rem;
    height: 1rem;
    background-color: rgb(22, 189, 22);
    border-radius: 50%;
    margin-left: 2rem;
}    

   .right-continer-chatLeft {
    border-radius: 4px;
    margin: 1rem 0 .5rem 3rem;
    padding: 1rem;
    width: auto;
    min-width: 10rem;
    max-width: 25rem;
    background-color: #a86aff;
    }

    .right-chatbox-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .left-chatbox-container {
        width: 100%;
         display: flex;
         flex-direction: column;
         justify-content: flex-end;
        align-items: flex-end;
    }

    .left-chatbox-container p {
        display: flex;
        margin-right: 3rem;
    }

    .writerLeft {
        display: flex;
        margin-left: 3.1rem;
        font-size: .9rem;
    }
    
    .right-continer-chatRight {
        border-radius: 0.2rem;
        margin: 1rem 3rem .5rem 0;
        padding: 1rem;
        width: auto;
        min-width: 10rem;
        max-width: 25rem;
        background-color: #8029fa;
        float: right;
        display: flex;
        flex-direction: column;  
     }

     .divFormChat {
        position: fixed;
        display: flex;
        flex-direction: column;
        bottom: 0;
        width: 60%;
        background-color: #3C1675;
        padding: 1rem 3rem 1rem 3rem;
      }
  
      .formChatInput {
          display: flex;
          align-items: flex-end;
          gap: 1rem;
      }
  
      .writingField{
          width: 100%;
      }
  
      .sendBtn {
        height: 3.7rem;
        width: 8rem;
      }