p {
    color: white;
}


.right-container {
    width: 60%;
    height: 100vh;
    background-image: url('./assets/images/background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    
}
    
    .right-continer-header-circel {
    width: 1rem;
    height: 1rem;
    background-color: green;
    border-radius: 50%;
    margin-left: 3rem;
     }    
     
    .right-container-header {
    height: 3rem;
    width: 100%;
    background-color: #3C1675;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
}
    .right-container-header {
    height: 3rem;
    width: 100%;
    background-color: #3C1675;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
    
   
   .right-continer-chatLeft {
    border-radius: 1rem;
    width: 15rem;
    background-color: #8F4BEF;
    margin-left: 1rem;
    margin-top: 0.5rem;
    align-items: center;
    
    }
    .writerLeft {
    display: flex;
    margin-left: 1rem;
    }
    
    .right-continer-chatRight {
    border-radius: 1rem;
    width: 15rem;
    background-color: #8F4BEF;
    justify-content: center;
    display: flex;
    align-self: flex-end;
    margin-right: 1rem;

    }
  .divFormChat {
      position: absolute;
      bottom: .5rem;
      width: 60%;
      
    }

    .formChatInput {
        display: flex;
        align-items: flex-end;
        width: 80%;
        padding-left: 2rem;
    }

    .writingTyping{
       width: 75%;
       margin-left: 2rem;
       margin-right: 1.5rem;
    }

    .whoIsWriting {
        padding-left: 2rem;
    }

    .sendBtn {
      width: 5rem;
      height: 3.7rem;
      
       
    }
    

    
    
 
    
    
    
